#main {
  h1 {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity ease 0.7s 0s, transform ease 0.7s 0s;
  }

  p {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity ease 0.7s 0.2s, transform ease 0.7s 0.2s;
  }

  .quiz-lead {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity ease 0.7s 0.4s, transform ease 0.7s 0.4s;
    .image {
      opacity: 0;
      transform: translate(calc(100% + 20px), -50%);
      transition: opacity ease 0.7s 0.8s, transform ease 0.7s 0.8s;
    }
  }

  .slider {
    .splide {
      opacity: 0;
      transform: transformY(-20px);
      transition: opacity ease 0.7s 0.4s, transform ease 0.7s 0.4s;
    }
    .pagination {
      opacity: 0;
      transform: transformY(-20px);
      transition: opacity ease 0.7s 0.6s, transform ease 0.7s 0.6s;
    }
    &:not(.changed) {
      .splide__slide:first-child {
        .point {
          &:nth-child(1) {
            transition-delay: 1000ms;
          }
          &:nth-child(2) {
            transition-delay: 1100ms;
          }
          &:nth-child(3) {
            transition-delay: 1200ms;
          }
          &:nth-child(4) {
            transition-delay: 1300ms;
          }
          &:nth-child(5) {
            transition-delay: 1400ms;
          }
          &:nth-child(6) {
            transition-delay: 1500ms;
          }
          &:nth-child(7) {
            transition-delay: 1600ms;
          }
          &:nth-child(8) {
            transition-delay: 1700ms;
          }
          &:nth-child(9) {
            transition-delay: 1800ms;
          }
        }
      }
    }
  }

  .decor-1,
  .decor-2 {
    picture {
      opacity: 0;
      transform: scale(0.7);
      transition: opacity ease 0.7s 0.4s, transform ease 0.7s 0.4s;
    }
  }
  .decor-2 {
    picture {
      transition-delay: 0.8s;
    }
  }

  &.visible {
    h1 {
      opacity: 1;
      transform: translateY(0);
    }

    p {
      opacity: 1;
      transform: translateY(0);
    }

    .quiz-lead {
      opacity: 1;
      transform: translateY(0);
      .image {
        opacity: 1;
        transform: translate(100%, -50%);
      }
    }

    .slider {
      .splide {
        opacity: 1;
        transform: scale(1);
      }
      .pagination {
        opacity: 1;
        transform: scale(1);
      }
    }

    .decor-1,
    .decor-2 {
      picture {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

#service {
  .header {
    span {
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity ease 0.7s 0.2s, transform ease 0.7s 0.2s;
    }
    h2 {
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity ease 0.7s 0s, transform ease 0.7s 0s;
    }
  }

  .service {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity ease 0.7s 0s, transform ease 0.7s 0s;
    &:nth-child(1) {
      transition-delay: 0.4s;
    }
    &:nth-child(2) {
      transition-delay: 0.6s;
    }
    &:nth-child(3) {
      transition-delay: 0.8s;
    }
  }

  &.visible {
    .header {
      span {
        opacity: 1;
        transform: translateY(0);
      }

      h2 {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .service {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
